@import url(./animation.css);
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,700&family=Volkhov&display=swap');
*{
    font-size: 48px;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Rosario', sans-serif;
}
nav{
    width: fit-content;
    height: 100%;
}
    
::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.6rem;
    font-weight: 700;     
    font-family: 'Rosario', sans-serif;   
    margin-left: 0.1rem;
}
.default_container{
    max-width: 85%;
    margin: auto;
}

/*header start*/
.header_nav{
    width: 100%;
}
.header{
    display: flex;
    top: 0%;
    position: fixed;
    z-index: 5;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    height: 2.7rem;
}
.logo{
    height: 100%;
}
.header_list_container{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 4%;    
}
.header_list{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.h_element{
    display: flex;
    align-items: center;
    height: 100%;
}
.header_list a{
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
    font-weight: 700;
    font-style: italic;
}
/*header end*/

/*main start*/
.one, .two, .three, .four{
    margin-top: 3rem;
    height: 90vh;
}
    /*section one*/
    .one{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left_one, .right_one{
        display: flex;
        align-items: center;        
        width: 22%;
    }
    .left_one img, .right_one img{
        height: 8rem;
    }
    .left_two, .right_two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
        height: 10rem;
        gap: 0.4rem;            
    }
    .one>div>div{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 30px;
    }

    .right_two>div img,.left_two>div img{
        height: 6rem;
    }

        /*animation start*/
        .left_one{
            animation: img-show-left 2s linear forwards;
        }

        .right_one{
            animation: img-show-right 2s linear forwards;
        }

        .left_two{
            animation: img-show-left 1s linear forwards;
        }

        .right_two{
            animation: img-show-right 1s linear forwards;
        }
        /*animation end*/

    /*section one end*/

    /*section two*/
    .two{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .two_list{
        display: flex;
        justify-content:center;   
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
        position: relative;
    }
    .t_element{
        list-style-type: none;
        width: 50%;
        height: 50%;
        position: absolute;
        cursor: pointer;
    }
    .t_element a{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: black;
    }
    .t_element a img{
        width: 70%;
    }
    .t_element a h2{
        margin-top: 4%;
        font-size: 0.7rem;
        font-weight: 700;
        font-style: italic;
    }

    .two_foto{
        height: 100%;
        width: 50%;
        overflow: hidden;
    }



        /*animation start*/
        .circle_top_one{
            top: 0;
            left: 0%;
            animation: circle1 8s infinite;
        }

        .circle_top_two{
            top: 0%;
            left: 50%;
            animation: circle3 8s infinite;
        }

        .circle_bottom_one{
            top: 50%;
            left: 0%;
            animation: circle2 8s infinite;
        }
        
        .circle_bottom_two{
            top: 50%;
            left: 50%;
            animation: circle4 8s infinite;
        }
        /*animation end*/

    /*section two end*/

    /*section three*/
        .three{
            display: flex;
            flex-direction: column;
        }
        .staff_logo{
            text-align: center;
            width: 100%;
        }
        .staff_container{
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;
            height: 100%;
        }

        .img_one{
            background: url(../img/main/Rectangle\ 8.png);  
        }
        .img_two{
            background: url(../img/main/Rectangle\ 12.png);            
        }
        .img_three{
            background: url(../img/main/Rectangle\ 13.png);             
        }
        .img_four{
            background: url(../img/main/Rectangle\ 9.png);

        }

        .staff_img{
            position: relative;
            display: flex;
            align-items: flex-end;

            width: 24%;
            height: 100%;   
        }
        .img{
            width: 100%;
            height: 100%;   
            background-position: center;   
            background-size: cover; 
            border-radius: 20px;                                       
        }

        .staff_lable{
            position: absolute;            
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0 10%;

            background:rgba(163, 83, 10, 0.7);
            width: 100%;
            height: 20%;

            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;

            color: white;
            font-family: 'Volkhov';
            font-size:0.75rem;
            font-weight:400;
            z-index: -1;
        }
        /*animation start*/
        .staff_container:hover div[class^="img"]{
            filter: brightness(0.5);    
        }
            
        .staff_container div[class^="img"]:hover{
            filter: none;
        }
        
        .staff_img:hover>div{
            z-index: 2;
        }

        /*animation end*/

    /*section three end*/

    /*section four start*/
    .four{
        display: flex;
        justify-content: space-around;      
    }
    .message_container{
        width: 55%;
    }
    .message_logo{
        text-align: start;
    }
    .message_logo div{
        text-align: center;
        width: 80%;
    }
    .message_logo h2{
        font-size: 1rem;
        font-weight: 700;
        font-style: italic;
    }

    .message_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #E5E5E5;
        margin-top: 1rem;
        height: 55%;
    }
    .input_top{
        display: flex;
        justify-content: center;
        height: 30%;
        width: 100%;
    }
    .input_container_top{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .input_container_top form{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .input_container_top form input{

        width: 90%;
    }

    #email{
        width: 95%;
        margin-right: auto;
    }
    
    .input_container_bottom{
        height: 60%;      
        margin-bottom: 0.7em; 
    }
    .input_container_bottom form{
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .input_container_bottom form textarea{
        width: 95%;
    }
    .map{
        width: 40%;
    }
    .map iframe{
        width: 100%;
        height: 79%;
    }
    /*section four end*/

/*main end*/

/*footer start*/

footer ul li, .footer a, footer ul li>div {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 0.5rem;
    font-weight: 600;
    font-style: italic;
    width: 100%;
}
.footer_element_three a,.footer_element_three div {
    width: fit-content;
    margin:0 0.2rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 5rem;
}
.footer>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer h2{
    font-size: 0.8rem;
    font-weight: 700;
}
.footer_list_two , .footer_list_three{
    margin-top: 0.6rem;
}
/*footer end*/