
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&display=swap');

body{
   background-color: rgba(33, 37, 41, 1); 
   color: white;
   font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.default_container{
    width: 90%;
    margin: auto;
}
.one_container{
    width: 80%;
    margin: auto;
}
.footer_plus_container{
    width: 95%;
    margin: auto;
    padding-bottom: 7em;
}
.two_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

/*header*/

.head_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    font-size: 1.4em;
    font-weight: 600;
}
.head_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 40%;
}
        /*form*/
    form input{
        border-color: #FFB742;
        background-color:rgba(255, 183, 66, 1);
        border-radius: 2rem;
        width: min-content;
        padding: 0.3em 1em;
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        font-weight: 700;
        cursor: pointer;
    }
    .two form input{
        font-size:150%;
    }

    /*main  one*/

    .avatar_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 600px;
        
    }
    .one_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        font-family: 'Inter', sans-serif;
    }
    .one_text div:first-child{
        text-align: center;
        font-size: 1.6em;
        font-weight: 700;

    }
    .one_text div:first-child a{

        text-decoration-style:solid 1px;
        color: #FFB742;
        text-decoration: underline;
    }

    .one_text div:nth-child(2){
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        text-transform: capitalize;
    }
    .one_text div:nth-child(2) h1{
        margin-top: 0%;
    }
    .one_text div:last-child{
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        text-transform: capitalize;
    }
    .one_text div:last-child h2{
        font-weight: 400;
        text-transform: capitalize;
    }

        /*cards*/
    .cards{
        display: flex;
        justify-content: space-around;
        margin-top: 7em;
    }
    .card{
        background-color:rgb(41, 43, 46);
        border-radius: 0.8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        min-height: fit-content;
        padding: 2% 1% 2% 1%;
    }
    .card_text{
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    .card_text div{
        text-align: center;
        margin: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card div:first-child img{
        height: 5em;
        width:5em;
    }

    .card_text div:first-child{
        color: #FFB742;
        font-size: 150%;
        font-weight: 700;
    }
    .card_text div:last-child{
        color: #fff;
        font-size: 100%;
        font-weight: 400;
    }


    /*main  two*/

    .two{
        margin-top: 10em;
        display: flex; 
    }
    .two:last-child{
        margin-left: 10%;
    }


/*---*/
    .grey_logo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 2rem;
        color:rgba(255, 183, 66, 1);
        text-transform: uppercase;
        width: fit-content;
        padding: 0 1em 0 1em;
        height: 2em;
        font-size: 1.5em;
        font-weight: 600;
    }
/*---*/    

    .two_logo{
        font-size: 3em;
        font-weight: 700;
    }

    .two_text{
        font-size: 1.2em;
        font-weight: 400;
        margin: 2em 0 2em 0;
        font-family: 'Poppins', sans-serif;
    }



    .skills{
        list-style-type: none;
        display: flex;
       
        flex-wrap: wrap;
    }
    .skills li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5em;
        height: 5em;
        background-color: #383E45;
        border-radius: 0.8rem;
        margin: 1em;
    }
    
    /*main  three*/

    .three{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .three div:first-child{
        margin-top: 2em;
    }
    .three_logo{
        font-size: 3em;
        font-weight: 700;
    }
    .three_list_container{
        width: 60%;
        margin-top: 1em;
    }
    .three_list{
        list-style-type: none;
        display: flex;  
        justify-content: space-around;
        font-size: 1.2em;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    .three_paints_container{
        display: flex;
    }
    .three_paints_container>div{
        display: flex;
        flex-direction: column;
        margin: 2em 1em 0 1em;
    }
    .three_paints_container>div>div:last-child{
        margin-top: 2em;
    }

    /*main  four*/

    .four{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .four_grey_logo{
        margin-top: 7em;
    }
    .four_grey_logo h2{
        margin: 0%;
    }
    .four>div:nth-child(2){
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 700;
    }
    .four>div:nth-child(2) h2{
        margin: 0% 0 2em 0;
    }    
    .four>div:last-child{
        display: flex;
        justify-content: space-around;
    }

    .comment_container{
        width: 80%;
        margin: auto;
        height: fit-content;
    }
    .comments{
        color: black;
        background-color: #fff;
        border-radius: 0.6em;
        height: fit-content;
        padding: 1% 0 3% 0;
        width: 28%;
        display: flex;
        flex-direction: column;
    }
    .four ul{
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        padding-left: 0%;
        font-family: 'Poppins', sans-serif;
    }
    .four ul li{
        padding-left: 0.2em;
    }
    .comment_text{
        margin: 0%;
    }
    .comment_text h2{
        font-size: 1.2em;
        font-weight:400;
    }
    .avatar_comment{
        display: flex;
        align-content: center;
    }
    .avatar_comment>div{
        margin-left: 3%;
        width: 30%;
    }
    .avatar_comment div:first-child img{
        width: 90%;
    }
    .avatar_comment div:last-child{
        margin-left: 3%;
        font-size: 1.2em;
        font-weight: 700;
        width: 80%;
    }
    .avatar_comment span{
        font-size:0.8em;
        font-weight:400;
    }

/*footer*/
footer{
    background-color:#1C1C1C;
    margin-top: 6em;
}
footer>div ul li {
    margin-top: 1em;
    font-size:1em;
    font-weight:500;
}
footer>div ul li a{
    color: #7B7B7B;
}

footer>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 6%;
    min-height: 20em;
}
.footer_main{
    margin-bottom: 1em;
    font-size:2em;
    font-weight:700;
    color: white;
}
footer>div ul:first-child li:first-child{
    color: #FFB742;
}
footer>div ul:first-child li:last-child{
    color: #ffffff;
}
.footer_main span{
    font-size:1.5em;
    font-weight:700;
}

footer>div ul{
    list-style-type: none;
}

    /*Animation*/

    .head_list li:hover a {
    color: #FFB742;
    }

    form:hover input{
        transform: scale(1.1);
    }

    .card:hover { 
        cursor: pointer;
        color: #212529;
        background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);;
    }
    .card:hover div{ 
        color: #212529;
        transform: scale(1.1);
    }
    .card>div:last-child:hover { 
        transform: scale(1.3);
    }
    .three_list li:hover a{
        background-color: #FFB742;
        border: 5px solid;
        border-radius: 0.2em;
        border-color: #FFB742;
        color: #212529;
    }