@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap');


.default_container{
    width: 1500px;
    margin: auto;
}

.background{
    background-image: url(/assets/img/фон.png);
    background-position: center;
    background-clip:border-box;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 45em;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*main*/
.main_container{
    width:1300px;
    margin: auto;
}

.menu_text{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.cards{
    display: flex;
    justify-content: space-between;
}
.card{

    text-align: center;
    background-color: #231B0C;
}
.card div{
    height: 28.75em;
    width: 25em;
}
.card div img:first-child{
    padding-top: 2.5em;
}
.card div img:last-child{
    padding-top: 5.5em;
}

.foto{
    text-align: center;
    padding: 2.5em 0;
}

/*footer*/

footer{
    background-color: #150F02;
    height: 20em;
}
nav > div{
    padding-top: 2.3em;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
}
.link a div{
    padding-top: 1em;
}
.contact h2 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.orange_container{
    display: flex;
    justify-content: center;
}
.orange{
    background-color: #FF6B00;
    height: 10px;
    width: 21em;
}

.media ul{
    display: flex;
    justify-content: center;

}
.media ul li{
    list-style: none;
    padding-right: 2em;
}


