
@media screen and (min-width: 1620px){
    .body{
        width: 1620px;
        margin: auto;
    }
    .header{
        width: 1620px;
        margin: auto;
    }
    .left_one img, .right_one img{
        height: 10rem;
    }
    .left_two, .right_two{
        height: 16rem;        
    }
}
@media screen and (max-width: 1620px){

}
@media screen and (max-width: 992px){
    section{
        margin-bottom: 50%;
    }
    /*section one start*/
    .one{
        flex-wrap: wrap;
    }
    .left_two, .right_two, .left_one, .right_one{
        display: flex;
        justify-content: center;
    }
    .left_two{
        order: 3;
        width: 50%;
        margin-bottom: auto;
    }
    .right_two{
        order: 4;   
        width: 50%;
        margin-bottom: auto;  
    }
    .left_two > div:first-child, .right_two > div:first-child{
        display: flex;
        justify-items: center;
        width: fit-content;
        margin: auto;
    }
    .left_one{
        order: 1;
        width: 50%;
    }
    .right_one{
        order: 2; 
        width: 50%;    
    }
        /*animation start*/
        .left_one{
            animation: img-show-left 1s linear forwards;
        }

        .right_one{
            animation: img-show-right 1s linear forwards;
        }

        .left_two{
            animation: img-show-left 2s linear forwards;
        }

        .right_two{
            animation: img-show-right 2s linear forwards;
        }
        /*animation end*/
    /*section one end*/

    /*section two start*/
    .two{
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .two_list{
        height: 15rem;
        width: 100%;
        order: 2;
        margin-top: 1rem;
    }
    .t_element{
        width: 40%;
    }
    .two_foto{
        height: 100%;
        width: 100%;

        width: max-content;
        order: 1;
    }
    /*section two end*/

    /*section three start*/
    .staff_container{
        flex-wrap: wrap;
    }
    .staff_img{
        height: 10rem;
        width: 45%;
    }   
        /*animation start*/
        .staff_lable{
            opacity: 0;
            visibility: hidden;
            transition: 0.75s opacity, 0.75s visibility;
        }
        .staff_img:hover>div{
            opacity: 1;
            visibility: visible;
        }
        /*animation end*/

    /*section three end*/

    /*section four start*/
    .four{
        display: flex;
        flex-wrap: wrap;
    }
    .message_container{
        width: 100%;
    }
    .map{
        width: 100%;
    }


    /*section four end*/
}
@media screen and (max-width: 768px){

    :root{
        font-size: 36px;
    }
    /*header start*/
    .logo{
        height: 2.7rem;
    }
    /*header end*/
    /*section one start*/
    .one{
        display: flex;
        height: min-content;
    }
    .left_two, .right_two, .left_one, .right_one{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }
    .left_two{
        margin-bottom: auto;
    }
    .right_two{
        margin-bottom: auto;  
    }
    .left_two > div, .right_two > div{
        display: flex;
        justify-items: center;
        width: fit-content;
        margin: auto;
    }

        /*animation end*/
        .left_one{
            animation: img-show-left 1s linear forwards;
        }

        .right_one{
            animation: img-show-right 2s linear forwards;
        }

        .left_two>div:first-child{
            animation: img-show-left 2.5s linear forwards;
        }
       .left_two>div:last-child{
            animation: img-show-right 3s linear forwards;
        }

        .right_two>div:first-child{
            animation: img-show-left 3.5s linear forwards;
        }
        .right_two>div:last-child {
            animation: img-show-right 4s linear forwards;
        }
        /*animation start*/

    /*section one end*/

    /*section two start*/
    
    .two{
        height: max-content;
        display: flex;
    }
    .two_list{
        display: flex;
        justify-content: center;
        align-items: center;        
        width: 90%;
        padding: 0%;
        margin-top: auto;
    }
    .t_element{
        width: 50%;
    }
    .two_foto{
    position: absolute;
    visibility: hidden;
    width: 100%;
    }
    /*section two end*/

    /*section three start*/
    .three{
        height: max-content;       
    }
    .staff_container{
        flex-wrap: wrap;
        height: max-content;
        width: 100%;        
    }
    .staff_img{
        margin: 1rem;
        height: 12rem;
        width: 51%;
    }
        /*animation end*/
        /*animation start*/
    /*section three end*/

    /*section four start*/
    .message_container{
        order: 2;
        width: 100%;
    }
    .map{
        order: 1;
        width: 100%;
    }
    .map iframe{
        height: 100%;
    }

        /*animation end*/
        /*animation start*/
    /*section four end*/
}
