

@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1&family=Marcellus+SC&family=Roboto:wght@400;700&display=swap');

body{
    text-align: center;
    font-family: 'Inika', serif;
    box-sizing: border-box;
}
.default_conteiner{
    max-width: 1000px;
    margin: auto;
}

/*header*/
.blue{
 font-weight: 400;
 font-size: 48px;
 color:#3E45E8;
 text-transform:uppercase;
 font-family: monospace;
}
.yellow{
 color:#E8C23E;
 font-weight: 400;
 font-size: 48px;
 text-transform:uppercase;
 font-family: monospace;
}

/*main*/

.backgraund{
    background-image:url(/3homework/assets/img/фонове\ зображення.png);
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.backgraund div{
    display: inline-block;
    vertical-align: middle;
    padding-top: 70px;
    height: 500px;
}
.backgraund div img{
    padding-left: 80px;
}
.backgraund div:first-child{
    padding-top: 160px;
}
.backgraund div p{
    color: white;
    font-size: 43px;
    font-weight: 700;
    width: 850px;
    padding-left: 20px;
}
.plase_logo{
    padding-top: 50px;
    text-align: left;
}
.plase_logo h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0%;
    padding-left: 80px;
    font-family: 'Marcellus SC', serif ;
}

.cards{
    padding-top: 40px;
}
.cards a {
    padding-left: 40px;
}
.card{
    display: inline-block;
    width: 280px;
    height: 380px; 
    border: solid 5px;
    border-color: #0D095F;
    border-radius: 35px;    
}
.card img{
    width: 281px;
}
.card_one{
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}
.card_two{
    box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}
.card_three{
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card h3{
    color: #0072DB;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
}
.card p{
    color: #FF9900;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}


.win_logo{
    display: inline-block;
}
.win_logo h2{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;    
}
.blue_line{
    display: inline-block;
    background-color: rgba(20, 0, 255, 1);
    height: 7px;
    width: 592px;
}
.win_logo img{
    padding-top: 40px;
}
.bottom{
    display: inline-block;
    background-color: #2A61F0;
    border-radius: 50px;
    width: 500px;
    height: 80px;
    text-decoration: none;  
}

.bottom span{
    font-size: 64px;
    font-weight: 700;
    color: white;
}

/*footer*/

footer{
    height: 233px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
}
.contakt h2{
    padding-top: 6px;
    margin-bottom: 0;
}
.contakt div {
    display: inline-block;
    width: 1000px;
    font-size: 36px;
    font-weight: 400;
    padding-top: 5px;
    font-family: 'Marcellus SC', serif;
}
.contakt div a {
    display: inline-block;
    text-decoration: none;
    color: #A89D9D;
}
div nav a{
    padding-left: 25px;
    padding-top: 15px;
}
div nav a{
    display: inline-block;
    padding-top: 15px;
}
div nav a:first-child{
    padding-left: 0px;
}