@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap');

*{
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.main_container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main{
    display: grid;
    height: 70vh;
    width: 65vw;
    min-width: 775px;
    background-color:#FFB084;
    grid-template-rows: repeat(12, 4.5%);
    grid-template-columns:repeat(3, 29%);
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    row-gap: 3%;
    column-gap: 3%;
}
.main>div{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color:#ffffff;
    border-radius: 20px;
}
.one>div{
    width: 80%;
    margin:  0 auto auto auto;
}
.one>div:first-child{
    display: flex;
    align-items: flex-end;
    margin: 1rem auto 0 auto;
}
.one>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.one ul{
    padding: 0;
}
.one h2{
    margin-bottom: 0%;
}

span{
    font-size:0.86rem;
    font-weight: 600;
}

 /* info */
.main .info{
    grid-column: 1/span 1;
    align-items: center;
    grid-row: 1/span 10;
    box-shadow: 7px 7px 0px 0px #000;
}
.info h2 {
    font-size: 1.8rem;
    font-weight: 700;
}
.info ul{
    list-style-type: none;
    padding: 0 0 1rem 1rem;
}
.info li{
    margin-top: 1rem;
}


/* bio */

.bio{
    grid-column: 2/span 2;
    grid-row: 1/span 3;
    box-shadow: 7px 7px 0px 0px #000;
}
.bio p{
    margin: auto;
    max-width: 33rem;
}
.main .bio>div{
    margin-top: 0rem;
}


/* goals */
.goals{
    grid-column: 2/span 1;
    grid-row: 4/span 4;
    box-shadow: 7px 7px 0px 0px #29A71E;
}
.goals h2 {
    color: #29A71E;
}


/* Frustrations */

.Frustrations{
    grid-column: 3/span 1;
    grid-row: 4/span 6;
    box-shadow: 7px 7px 0px 0px #E13535;
}
.Frustrations ul{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.Frustrations h2{
    color: #E13535;
}


/* dream */

.dream{
    grid-column: 2/span 1;
    grid-row: 8/span 5;
    box-shadow: 7px 7px 0px 0px #3675B0;
}
.dream h2{
    color: #3675B0;
}

/* Personality */

.Personality{
    grid-column: 3/span 1;
    grid-row: 10/span 3;
    box-shadow: 7px 7px 0px 0px #000;
}
.main .Personality>div{
    margin-bottom: 1rem;
}

/* want */
.want{
    text-align: center;
    grid-column: 1/span 1;
    grid-row: 11/span 2;
    box-shadow: 7px 7px 0px 0px #000;
}